In [9]:
import networkx as nx
import pandas as pd

In [2]:
G = nx.read_gml('internet/as-22july06.gml')

In [3]:
type(G)

networkx.classes.graph.Graph

In [4]:
print(f"Number of nodes: {G.number_of_nodes()}")
print(f"Number of edges: {G.number_of_edges()}")
print(f"Is directed? {G.is_directed()}")

Number of nodes: 22963
Number of edges: 48436
Is directed? False

In [5]:
# Degree centrality
degree_centrality = nx.degree_centrality(G)

In [7]:
# pagerank
pagerank = nx.pagerank(G)

In [10]:
df = pd.DataFrame({
    'degree': degree_centrality,
    'pagerank': pagerank
})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22963 entries, 8001 to 10193
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   degree    22963 non-null  float64
 1   pagerank  22963 non-null  float64
dtypes: float64(2)
memory usage: 538.2+ KB

In [ ]:
# Top 5 by degree centrality
df.sort_values(by='degree', ascending=False).head()

        degree  pagerank
701   0.104085  0.022716
7018  0.087797  0.019491
1239  0.074602  0.016145
3356  0.056528  0.010900
174   0.054133  0.011198

In [14]:
# Top 5 by page rank
df.sort_values(by='pagerank', ascending=False).head()

        degree  pagerank
701   0.104085  0.022716
7018  0.087797  0.019491
1239  0.074602  0.016145
209   0.052696  0.011757
174   0.054133  0.011198